VITE_API_BASE_URL=
API_PORT=3006
OPENDENTAL_API_URL=https://api.opendental.com/api/v1
OPENDENTAL_DEV_KEY=
OPENDENTAL_API_KEY=
OD_MOUNT_SFTP_HOST=
OD_MOUNT_SFTP_PORT=22
OD_MOUNT_SFTP_USERNAME=
OD_MOUNT_SFTP_PASSWORD=
OD_MOUNT_SFTP_REMOTE_DIR=
